.unity-button {
    rotate: -2deg;
    transition-duration: 0.05s;
    -unity-material: url("");
}

.unity-button:hover {
    background-color: rgb(255, 0, 0);
    rotate: 2deg;
    scale: 1.1 1.1 1.1;
    transition-timing-function: ease-in-out, ease;
    transition-duration: 0.05s, 0s;
    -unity-material: url("");
    transition-property: all, -unity-material;
}

.unity-button:active {
    scale: 1 1;
    background-color: rgb(123, 0, 0);
}
